{{template "internal" .}}

{{define "title"}}Add Item{{end}}

{{define "main"}}
<form method="POST">
  <div>
    <strong>Wassermelone</strong>
  </div>

  <p>Maßeinheit</p>

  <div>
    <input type="radio" id="unit-1" name="unit_id" value="1" checked>
    <label for="unit-1">Stück</label>
  </div>

  <div>
    <input type="radio" id="unit-2" name="unit_id" value="2">
    <label for="unit-2">Kilogramm</label>
  </div>

  <div>
    <input type="radio" id="unit-3" name="unit_id" value="3">
    <label for="unit-3">Dekagramm</label>
  </div>

  <div>
    <input type="radio" id="unit-4" name="unit_id" value="4">
    <label for="unit-4">Gramm</label>
  </div>

  <div>
    <label for="name">Menge</label>
    <input id="name" inputmode="numeric" pattern="[0-9]*" type="text" name="amount">
  </div>

  <a href="/plan">Abbrechen</a>
  <button type="submit">Hinzufügen</button>
</form>
{{end}}
