{{template "internal" .}}

{{define "title"}}Neues Produkt{{end}}

{{define "navigation"}}
<a href="/home">Home</a>
<a href="/plan" class="active">Aufschreiben</a>
<a href="/shop">Einkaufen</a>
{{end}}

{{define "main"}}
<div class="l-stack-s3">
  {{with .FormErrors}}
  <div class="error-list">
    <h2>Es gibt ein Problem</h2>
    <ul>
      {{range $id, $error := .}}
      <li><a href="#{{$id}}">{{$error}}</a></li>
      {{end}}
    </ul>
  </div>
  {{end}}

  <div class="l-stack-s0">
    <a href="/plan">Zurück</a>
    <h2>Neues Produkt hinzufügen</h2>
  </div>

  <form method="POST" autocomplete="off">
    <input type="hidden" name="_idempotency_key" value="{{.IdempotencyKey}}">

    <div class="l-stack-s1">
      <div class="field">
        <label for="name_singular">
          <span class="field-label">Name in Einzahl</span>
          {{with .FormErrors.name_singular}}
          <span class="field-error">{{.}}</span>
          {{end}}
        </label>
        <input id="name_singular" type="text" name="name_singular" value="{{.NameSingular}}" autofocus>
      </div>

      <div class="field">
        <label for="name_plural">
          <span class="field-label">Name in Mehrzahl</span>
          {{with .FormErrors.name_plural}}
          <span class="field-error">{{.}}</span>
          {{end}}
        </label>
        <input id="name_plural" type="text" name="name_plural" value="{{.NamePlural}}">
      </div>

      <fieldset class="field">
        <legend>
          <span class="field-label">Kategorien</span>
          {{with .FormErrors.category_ids}}
          <span class="field-error">{{.}}</span>
          {{end}}
        </legend>
        <div class="field-options">
          {{range .Categories}}
          <div class="field-checkbox">
            <label for="category_id-{{.Id}}">
              <input type="checkbox" id="category_id-{{.Id}}" name="category_ids" value="{{.Id}}" {{if (index $.CategoryIds .Id) }}checked{{end}}>
              {{.Name}}
            </label>
          </div>
          {{end}}
        </div>
      </fieldset>

      <fieldset class="field">
        <legend>
          <span class="field-label">Größenordnungen</span>
          {{with .FormErrors.dimension_ids}}
          <span class="field-error">{{.}}</span>
          {{end}}
        </legend>
        <div class="field-options">
          {{range .DimensionOptions}}
          <div class="field-checkbox">
            <label for="dimension-{{.Id}}">
              <input type="checkbox" id="dimension-{{.Id}}" name="dimension_ids" value="{{.Id}}" {{if (index $.DimensionIds .Id) }}checked{{end}}>
              {{.Name}}
            </label>
          </div>
          {{end}}
        </div>
      </fieldset>

      <div>
        <button type="submit">Produkt anlegen</button>
      </div>
    </div>
  </form>
</div>
{{end}}
