{{template "internal" .}}

{{define "title"}}Plan{{end}}

{{define "main"}}
<form action="/add-product" method="GET">
  <input id="name" type="text" name="name">
  <button type="submit">Hinzufügen</button>
</form>

<p class="suggestions">
  {{range .Products}}
  <a href="/add-item?product-id={{.}}" data-name="{{.}}">{{.}}</a>
  {{end}}
</p>

<hr>

<ol>
  <li>Äpfel</li>
  <li>Brot</li>
  <li>Apfelsaft</li>
  <li>Faschiertes</li>
</ol>

<script type="text/javascript">
  document.querySelector('#name').addEventListener('input', function() {
    var currentValue = document.querySelector('#name').value;
    var all = document.querySelectorAll(".suggestions a");
    var visible = document.querySelectorAll(".suggestions a[data-name*='" + currentValue + "']");

    for (var i = 0; i < all.length; i++) {
      all[i].style.display = 'none';
    }

    for (var i = 0; i < visible.length; i++) {
      visible[i].style.display = 'inline-block';
    }
  })
</script>
{{end}}
