{{template "internal" .}}

{{define "title"}}Plan{{end}}

{{define "main"}}
<form id="remove-form" action="/remove-item" method="POST">
  <input type="hidden" name="_idempotency_key" value="{{.IdempotencyKey}}">
</form>

<form action="/add-product" method="GET" autocomplete="off">
  <input id="name" type="text" name="name">
  <button type="submit">Hinzufügen</button>
</form>

<p class="suggestions">
  {{range .Products}}
  <a href="/add-item?product-id={{.Id}}" data-name="{{.SearchTerm}}">{{.NamePlural}}</a>
  {{end}}
</p>

<hr>

<ol>
  {{range .AddedItems}}
  <li>{{.FormattedQuantity}} {{.FormattedName}} <button form="remove-form" name="item_id" value="{{.Id}}" type="submit">Entfernen</button></li>
  {{end}}
</ol>

{{if .RemovedItems}}
<h2>Entfernt</h2>
<ol>
  {{range .RemovedItems}}
  <li>{{.FormattedQuantity}} {{.FormattedName}}</li>
  {{end}}
</ol>
{{end}}

<script type="text/javascript">
  document.querySelector('#name').addEventListener('input', function() {
    var currentValue = document.querySelector('#name').value;
    var all = document.querySelectorAll(".suggestions a");
    var visible = document.querySelectorAll(".suggestions a[data-name*='" + currentValue.toLowerCase() + "']");

    for (var i = 0; i < all.length; i++) {
      all[i].style.display = 'none';
    }

    for (var i = 0; i < visible.length; i++) {
      visible[i].style.display = 'inline-block';
    }
  })
</script>
{{end}}
