{{template "internal" .}}

{{define "title"}}Einkaufen{{end}}

{{define "navigation"}}
<a href="/home">Home</a>
<a href="/plan">Aufschreiben</a>
<a href="/shop" class="active">Einkaufen</a>
{{end}}

{{define "main"}}
<form id="check-form" action="/check-item" method="POST">
  <input type="hidden" name="_idempotency_key" value="{{.IdempotencyKey}}">
  <input type="hidden" name="sort_by" value="{{.SortBy}}">
</form>

<form id="undo-form" action="/undo" method="POST">
  <input type="hidden" name="_idempotency_key" value="{{.IdempotencyKey}}">
  <input type="hidden" name="sort_by" value="{{.SortBy}}">
  <input type="hidden" name="new_state" value="added">
  <input type="hidden" name="old_state" value="gathered">
</form>

<div class="l-stack-s3">
  <p>
    Sortierung:
    {{range .SortOptions}}
      {{if eq .Id $.SortBy}}
        <strong>{{.Name}}</strong>
      {{else}}
        {{if eq .Id ""}}
          <a href="/shop">{{.Name}}</a>
        {{else}}
          <a href="/shop?sort-by={{.Id}}">{{.Name}}</a>
        {{end}}
      {{end}}
    {{end}}
  </p>

  {{if .AddedItems}}
  <ol>
    {{range .AddedItems}}
    <li>
      <span class="name">{{.FormattedName}}</span>
      <span class="quantity">{{.FormattedQuantity}}</span>
      <button class="action" form="check-form" name="item_id" value="{{.Id}}" type="submit">Abhaken</button>
    </li>
    {{end}}
  </ol>
  {{else}}
  <p>Aktuell steht nichts auf der Einkaufsliste.</p>
  {{end}}

  {{if .GatheredItems}}
  <p>
    <strong>Abgehakte Produkte</strong><br>
    Die 100 zuletzt abgehakten Produkte in den letzten 6 Stunden.
  </p>
  <ol>
    {{range .GatheredItems}}
    <li>
      <span class="name">{{.FormattedName}}</span>
      <span class="quantity">{{.FormattedQuantity}}</span>
      <button class="action" form="undo-form" name="item_id" value="{{.Id}}" type="submit">Rückgängig machen</button>
    </li>
    {{end}}
  </ol>
  {{end}}
</div>
{{end}}
