{{template "internal" .}}

{{define "title"}}Shop{{end}}

{{define "main"}}
<form action="/check-item" method="POST">
<ol>
  <li>Äpfel<button name="item_id" value="1" type="submit">Abhaken</button></form></li>
  <li>Brot<button name="item_id" value="2" type="submit">Abhaken</button></form></li>
  <li>Apfelsaft<button name="item_id" value="3" type="submit">Abhaken</button></form></li>
  <li>Faschiertes<button name="item_id" value="4" type="submit">Abhaken</button></form></li>
</ol>
</form>
{{end}}
